name: iac

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
commit-and-push:


    runs-on: ubuntu-latest

steps:
    - uses: actions/checkout@v3
    - name: Scan IaC with Tenable Cloud Security
      uses: tenable/cloud-security-actions/iac/scan@v1
      with:
        api-token: ${{ secrets.TENABLE_API_TOKEN }}
        api-url: https://uk.app.ermetic.com
